<div class="container">
    <div class="row">
        <div class="col-6">

            <a routerLink="/home" class="">
                <img class="img-fluid mt-5" src="../../assets/aseoMarketing.jpg" alt="agencia SEO">
            </a>
            
            <h1 class="display-5 fw-bold lh-1 mt-5">Agencia SEO</h1>
            
            <h4 class="lead pt-3 mt-5 mb-2 fw-bolder">Posiciona tu negocio en lo mas alto, situate en las primeras posiciones en las busquedas de Google.</h4>

            <button class="btn btn-success mt-5" routerLink="/home">Calcula tu presupuestos</button>

        </div>
        <div class="col-6">
            <a routerLink="/home" class="">
            <img src="../../assets/seo.jpg" alt="posicionamiento SEO" class="d-block img-fluid">
        </a>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col bg-primary">
            <h4 class="lead p-3 fst-italic lh-base text-white">El SEO y el marketing son como superpoderes para tu negocio. El SEO se trata de hacer que tu sitio web aparezca en los primeros resultados de Google para que la gente pueda encontrarte fácilmente. Es como destacar en una fiesta llena de gente. Por otro lado, el marketing es como contarle al mundo lo genial que eres. Puedes usar estrategias digitales como publicidad en redes sociales o enviar correos electrónicos para llegar a tu audiencia y conseguir más clientes. El SEO y el marketing trabajan juntos para impulsar tu negocio, generar tráfico y aumentar tus ventas.</h4>

        </div>
    </div>
</div>

  











